Question 1 - Create one variable containing following type of data

In [63]:
#String
a = "Ammar"

In [1]:
#List
b = [3, "Ammar", 5.6]

In [2]:
#Float
c = 4.5

In [3]:
#Tuple
d = (3, "Ammar", 5.6)

Question 2 -  Given are some following variables containing data.
What will be the data type of the above given variable.

In [21]:
var1 = ' '

In [22]:
print(type(var1))

<class 'str'>

In [25]:
var2 = '[ DS , ML , Python]'

In [26]:
print(type(var2))

<class 'str'>

In [29]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [30]:
print(type(var3))

<class 'list'>

In [31]:
var4 = 1.

In [32]:
print(type(var4))

<class 'float'>

Q3. Explain the use of the following operators using an example:

(i)	/  : Used for divding

In [33]:
4/2

2.0

(ii)	%  : It is the Modulas operator, it retirns the remainder.

In [42]:
5 % 3

2

(iii)	// : Used for getting how many times a number will be divided

In [46]:
40 // 5

8

(iv)	** : Used for exponential.

In [47]:
5 ** 4

625

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [4]:
Q4_List = [2, "Grey", 8.9, "Cat", (34, 56), False, 0.87, 4, 7, 'Phone']

In [5]:
Q4_L = len(Q4_List)

In [6]:
print(Q4_L)

10

In [7]:
for item in Q4_List:
    print(f"{item} - {type(item)}")

2 - <class 'int'>
Grey - <class 'str'>
8.9 - <class 'float'>
Cat - <class 'str'>
(34, 56) - <class 'tuple'>
False - <class 'bool'>
0.87 - <class 'float'>
4 - <class 'int'>
7 - <class 'int'>
Phone - <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [18]:
No_A = int(input("Enter number A: "))
No_B = int(input("Enter number B: "))

print(f"Entered Numbers are: \n A = {No_A} \n B = {No_B}") 
print("Calculating.......")

if No_A < No_B:
    print("B should be smaller than A, try again")    
else:
    count = 0
    while No_A % No_B == 0 and No_A != 0:
        No_C = No_A // No_B  
        count += 1
        
    if count > 0:
        print(f"A is purely divisible by B {count} times {No_C}")
    else:
        print("A is not purely divisible by B.")

Enter number A:  50
Enter number B:  5

Entered Numbers are:
 A = 50
 B = 5
Calculating.......

KeyboardInterrupt:

In [19]:
50%5

0

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [28]:
I_List = [ 1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25 ] 

for i in I_List:
    if i % 3 == 0: 
        print(f"{i} is divisble by 3")
    else:
        print(f"{i} is NOT divisible by 3")

1 is NOT divisible by 3
2 is NOT divisible by 3
3 is divisble by 3
4 is NOT divisible by 3
5 is NOT divisible by 3
6 is divisble by 3
7 is NOT divisible by 3
8 is NOT divisible by 3
9 is divisble by 3
10 is NOT divisible by 3
11 is NOT divisible by 3
12 is divisble by 3
13 is NOT divisible by 3
14 is NOT divisible by 3
15 is divisble by 3
16 is NOT divisible by 3
17 is NOT divisible by 3
18 is divisble by 3
19 is NOT divisible by 3
20 is NOT divisible by 3
21 is divisble by 3
22 is NOT divisible by 3
23 is NOT divisible by 3
24 is divisble by 3
25 is NOT divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Mutable: These are the ones in which there elements can be altered / changed anytime
example: Lists

In [40]:
I_L = [1,2,3,4]
print(I_L)
I_L[1] = 20 
print(I_L)

[1, 2, 3, 4]
[1, 20, 3, 4]

Immutable: Once made, elements cannot be changed
example: Tuples

In [42]:
A = (2,3,4)
print(A)
A[1] = 7 #Will give error

(2, 3, 4)

TypeError: 'tuple' object does not support item assignment